In [129]:
import numpy as np
import pandas as pd

In [130]:
y = ['cornel','data','science']
x = [100,200,300]

In [131]:
#merubah label index sesuai dengan value dari list y
pd.Series(data = x, index = y )

cornel     100
data       200
science    300
dtype: int64

In [132]:
#merubah label index sesuai dengan value dari list y
pd.Series(x,y)

cornel     100
data       200
science    300
dtype: int64

In [133]:
z = np.array([2,4,6])
pd.Series(z,y)

cornel     2
data       4
science    6
dtype: int32

In [134]:
a = {'a' : 'Data','b' : 'science','c' : 'Job Connector'}

In [135]:
#membuat array dari dictionary a
pd.Series(a)

a             Data
b          science
c    Job Connector
dtype: object

In [136]:
b = np.arange(1,5)
c = np.arange(5,9)
d = np.arange(9,13)

In [137]:
#membuat array dengan label kolom dan label baris yang telah ditentukan
pd.DataFrame(data = [b,c,d],index = 'b c d'.split(),columns = 'w x y z'.split())

   w   x   y   z
b  1   2   3   4
c  5   6   7   8
d  9  10  11  12

In [138]:
#membuat array dengan label kolom dan label baris yang telah ditentukan
my_list = ([b,c,d]).copy()
pd.DataFrame(my_list,index = 'b c d'.split(),columns = 'w x y z'.split()).T

   b  c   d
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12

In [139]:
from numpy.random import randn

In [140]:
np.random.seed(101)

In [141]:
df = pd.DataFrame(randn(5,4),'a b c d e'.split(),'w x y z'.split())
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [142]:
#menambah baris dalam array
df.loc['f']=[1,2,3,4]
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  1.000000  2.000000  3.000000  4.000000

In [143]:
#menambah kolom dalam array, dimana terdapat operasi perhitungan pada kolom yang baru
df['new'] =df['w']+df['y']
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762
f  1.000000  2.000000  3.000000  4.000000  4.000000

In [144]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762
f  1.000000  2.000000  3.000000  4.000000  4.000000

In [145]:
#menghaput kolom, axis = 1
df.drop('new',axis = 1)

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  1.000000  2.000000  3.000000  4.000000

In [147]:
df

          w         x         y         z       new
a  2.706850  0.628133  0.907969  0.503826  3.614819
b  0.651118 -0.319318 -0.848077  0.605965 -0.196959
c -2.018168  0.740122  0.528813 -0.589001 -1.489355
d  0.188695 -0.758872 -0.933237  0.955057 -0.744542
e  0.190794  1.978757  2.605967  0.683509  2.796762
f  1.000000  2.000000  3.000000  4.000000  4.000000

In [148]:
#inplace = True berfungsi untuk menyimpan perubahan ke array awal
df.drop('new',axis =1,inplace = True)

In [149]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509
f  1.000000  2.000000  3.000000  4.000000

In [150]:
df.drop('f',inplace = True)
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [151]:
states = 'AB CD EF JK LM'.split()
states

['AB', 'CD', 'EF', 'JK', 'LM']

In [152]:
df['States'] = states
df.set_index('States')

               w         x         y         z
States
AB      2.706850  0.628133  0.907969  0.503826
CD      0.651118 -0.319318 -0.848077  0.605965
EF     -2.018168  0.740122  0.528813 -0.589001
JK      0.188695 -0.758872 -0.933237  0.955057
LM      0.190794  1.978757  2.605967  0.683509